.first{
    border: 1px solid brown ;
    height: 750px;
    width: 850px;
    margin: auto;
}

.second{
    float: right;
    margin-top: 50px;
    margin-right: 200px;
    font-size: 50px;
    font-family: 'Courier New', monospace;
}

.new{
    border: 1px solid rgb(189, 53, 53);
    height: 180px;
    background-color: rgb(208, 111, 111);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.second2{
    font-size: 25px;
    
}
.img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: 30px;

}

.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
margin-top: 15px;
margin-left: 50px;
color: brown;
width: 150px;
}

.head1{
    font-size: x-small;
    margin-top: 10px;
    color: black;
}

.me{
    margin-right: 100px;
    margin-left: 50px;
    width: 380px;
    float: right;
    margin-top: -100px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.me1{
    margin-top: 10px;
    color: black;
    font-size: x-small;
    
}

.skills{
    
    color: brown;
    margin-top: 50px;
    margin-left: 50px;
    width: 150px;
    font-size: 20px;
    
}

.skills1{
    color: black;
    font-size: x-small;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.exp{
    float: right;
    width: 350px;
    margin-right: 130px;
    margin-top: -120px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.exp1{
    color: black;
    margin-top: 10px;
    font-size: x-small;
}

.soft{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
margin-top: 15px;
margin-left: 50px;
color: brown;
width: 150px;
}

.soft1{
    color: black;
    margin-top: 10px;
    font-size: x-small;
}

.edu{
    color: brown;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
margin-right: 260px;
margin-top: -50px;
}


.edu1{
    color: black;
    margin-top: 10px;
    font-size: x-small;
}


.ach{
    color: brown;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
margin-left: 45px;
margin-top: 30px

}

.ach1{
    color: black;
    margin-top: 10px;
    font-size: x-small;
}



